@model ArticleCommentViewModel


<h1>Main Posts</h1>
<a asp-controller="Article" asp-action="Create" class="btn btn-primary">Add Article</a>
@foreach(var article in Model.Articles)
{
    @if(article == null)
    {
        break;
    }
    else
    {
        <div class="border border-3 p-2 m-2">
            <h4>@article.Title</h4>
            <p>@article.Content</p>
            <h6>Add Comment</h6>
            <form method="post" asp-controller="Article" asp-action="Index">
                <div class="border p-2 ">
                    <p>
                        <div class="mb-3">
                            <label asp-for="Comment.UserId"></label>
                            <input asp-for="Comment.UserId" />
                            <span asp-validation-for="Comment.UserId" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Comment.Content"></label>
                            <input asp-for="Comment.Content" />
                            <span asp-validation-for="Comment.Content" class="text-danger"></span>
                        </div>
                        <input type="hidden" name="articleId" value="@article.Id">
                    </p>
                    <p>
                        <button type="submit" class="btn btn-primary btn-sm">Add Comment</button>
                    </p>
                </div>
            </form>
            <div class="border border-1 p-1 m-1">
                @if (article.Comments == null)
                {
                    continue;
                }
                else
                {
                    foreach (var comments in article.Comments)
                    {
                        if (comments == null) break;
                        <p class="text-dark">@comments.User.Name</p>
                        <p>@comments.Content</p>
                    }
                }
            </div>
        </div>
    }
}
